<div class="dashboard-page main-body valign-wrapper">
  <div class="container valign">
    <div class="row">
      <div class="col s12 m6">
        <div class="centerme">
          <p class="title flow-text">
            Dashboard
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="arrow-wrapper top">
    <div class="arrow-box">
      <a routerLink="/" [routerLinkActive]="['is-active']"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="arrow-wrapper right-arrow">
    
    <div class="arrow-box">
      <a routerLink="/blog" [routerLinkActive]="['is-active']"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="arrow-wrapper left-arrow">
    <div class="arrow-box">
      <a routerLink="/contact" [routerLinkActive]="['is-active']"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="arrow-wrapper bottom">
    <div class="arrow-box">
      <a routerLink="/projects" [routerLinkActive]="['is-active']"><i class="fa fa-code fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>